*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s linear;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1{
  color: white;
  padding: .5rem;
  font-size: 3em;
}